/* Responsive Stylesheet */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Desktop */
@media (min-width: 992px)  {
  div {
    width: 33.33%;
    border: 1px solid #000;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  #1 {
    width: 50%;
  }
  #2 {
    width: 50%;
  }
  #3 {
    width: 100%;
  }
}
/* Mobile */
div {
    width: 100%;
}

